In [23]:
# Import Packages 
import pandas as pd 
import numpy as np

In [24]:
# Import Data 
data = pd.read_csv('joineddata.csv', index_col='id')

In [25]:
data

,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,annualIncome,...,n9,n10,n11,n12,n13,n14,endDate,avg_GDP,avg_UNRATE,avg_CPIAUCSL
id,,,,,,,,,,,,,,,,,,,,,
0,35000.0,5,19.52,917.97,E,E2,320.0,2 years,2,110000.0,...,2.0,7.0,0.0,0.0,0.0,2.0,2019-07-01,19510.161857,4.638095,244.072190
1,18000.0,5,18.49,461.90,D,D2,219843.0,5 years,0,46000.0,...,NaN,13.0,NaN,NaN,NaN,NaN,2017-08-01,18605.830600,5.845000,237.282150
2,12000.0,5,16.99,298.17,D,D3,31698.0,8 years,0,74000.0,...,3.0,11.0,0.0,0.0,0.0,4.0,2020-10-01,19923.215667,5.152381,249.167714
3,11000.0,3,7.26,340.96,A,A4,46854.0,10+ years,1,118000.0,...,6.0,9.0,0.0,0.0,0.0,1.0,2018-08-01,19531.501000,4.500000,243.766583
4,3000.0,3,12.99,101.07,C,C2,54.0,NaN,1,29000.0,...,7.0,12.0,0.0,0.0,0.0,4.0,2019-03-01,19767.011667,4.333333,246.275333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,25000.0,3,14.49,860.41,C,C4,2659.0,7 years,1,72000.0,...,10.0,14.0,0.0,0.0,0.0,3.0,2019-07-01,19964.887692,4.176923,248.246769
799996,17000.0,3,7.90,531.94,A,A4,29205.0,10+ years,0,99000.0,...,2.0,7.0,0.0,0.0,0.0,0.0,2016-04-01,18453.539385,6.000000,236.033077
799997,6000.0,3,13.33,203.12,C,C3,2582.0,10+ years,1,65000.0,...,4.0,5.0,0.0,0.0,1.0,4.0,2018-10-01,19590.991231,4.446154,244.459308
799998,19200.0,3,6.92,592.14,A,A4,151.0,10+ years,0,96000.0,...,8.0,16.0,0.0,0.0,0.0,5.0,2018-02-01,19299.253583,4.733333,241.501167
799999,9000.0,3,11.06,294.91,B,B3,13.0,5 years,0,120000.0,...,3.0,7.0,0.0,0.0,0.0,2.0,2021-08-01,20649.390417,6.008333,259.033917

In [26]:
data.subGrade.unique()

array(['E2', 'D2', 'D3', 'A4', 'C2', 'A5', 'C3', 'B4', 'B5', 'E5', 'D4',
       'B3', 'B2', 'D1', 'E1', 'C5', 'C1', 'A2', 'A3', 'B1', 'E3', 'F1',
       'C4', 'A1', 'D5', 'F2', 'E4', 'F3', 'G2', 'F5', 'G3', 'G1', 'F4',
       'G4', 'G5'], dtype=object)

In [29]:
# Assign numericals to subgrades 

def grade_to_numeric(input_value, input_type='subgrade'):
    # base value for each grade
    base_values = {'A': 6, 'B': 5, 'C': 4, 'D': 3, 'E': 2, 'F': 1, 'G': 0}
    
    if input_type == 'subgrade':
        # Extract the grade letter and numeric part from the subgrade
        grade_letter = input_value[0]
        numeric_part = int(input_value[1])
        
        # Calculate the decrement factor to adjust values within a grade
        decrement_factor = 0.5 / 5
        
        # Calculate the numerical value for subgrades
        numeric_value = base_values[grade_letter] - decrement_factor * (6 - numeric_part)
        
        # Adjust the numeric_value to match the provided scale starting from 0.4
        adjustment = 0.4 - (base_values['G'] - decrement_factor * 5)
        numeric_value += adjustment
        
    elif input_type == 'grade':

        grade_letter = input_value
        numeric_value = base_values[grade_letter]
        
    return round(numeric_value, 1)


# Apply the function to the subGrade column
data['num_subGrade'] = data['subGrade'].apply(lambda x: grade_to_numeric(x, 'subgrade'))

# Apply the function to the 'grade' column
data['num_grade'] = data['grade'].apply(lambda x: grade_to_numeric(x, 'grade'))

In [32]:
# Extract the numeric part of the 'employmentLength' entries
data['employmentLength'] = data['employmentLength'].str.extract('(\d+)')

# Convert the extracted string numbers to integers
data['employmentLength'] = pd.to_numeric(data['employmentLength'], errors='coerce')

In [33]:
data

,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,annualIncome,...,n11,n12,n13,n14,endDate,avg_GDP,avg_UNRATE,avg_CPIAUCSL,num_subGrade,num_grade
id,,,,,,,,,,,,,,,,,,,,,
0,35000.0,5,19.52,917.97,E,E2,320.0,2.0,2,110000.0,...,0.0,0.0,0.0,2.0,2019-07-01,19510.161857,4.638095,244.072190,2.5,2
1,18000.0,5,18.49,461.90,D,D2,219843.0,5.0,0,46000.0,...,NaN,NaN,NaN,NaN,2017-08-01,18605.830600,5.845000,237.282150,3.5,3
2,12000.0,5,16.99,298.17,D,D3,31698.0,8.0,0,74000.0,...,0.0,0.0,0.0,4.0,2020-10-01,19923.215667,5.152381,249.167714,3.6,3
3,11000.0,3,7.26,340.96,A,A4,46854.0,10.0,1,118000.0,...,0.0,0.0,0.0,1.0,2018-08-01,19531.501000,4.500000,243.766583,6.7,6
4,3000.0,3,12.99,101.07,C,C2,54.0,NaN,1,29000.0,...,0.0,0.0,0.0,4.0,2019-03-01,19767.011667,4.333333,246.275333,4.5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,25000.0,3,14.49,860.41,C,C4,2659.0,7.0,1,72000.0,...,0.0,0.0,0.0,3.0,2019-07-01,19964.887692,4.176923,248.246769,4.7,4
799996,17000.0,3,7.90,531.94,A,A4,29205.0,10.0,0,99000.0,...,0.0,0.0,0.0,0.0,2016-04-01,18453.539385,6.000000,236.033077,6.7,6
799997,6000.0,3,13.33,203.12,C,C3,2582.0,10.0,1,65000.0,...,0.0,0.0,1.0,4.0,2018-10-01,19590.991231,4.446154,244.459308,4.6,4
799998,19200.0,3,6.92,592.14,A,A4,151.0,10.0,0,96000.0,...,0.0,0.0,0.0,5.0,2018-02-01,19299.253583,4.733333,241.501167,6.7,6
799999,9000.0,3,11.06,294.91,B,B3,13.0,5.0,0,120000.0,...,0.0,0.0,0.0,2.0,2021-08-01,20649.390417,6.008333,259.033917,5.6,5

In [39]:
data = data.dropna()

In [40]:
# Check Missing Values
data.isnull().sum()

loanAmnt              0
term                  0
interestRate          0
installment           0
grade                 0
subGrade              0
employmentTitle       0
employmentLength      0
homeOwnership         0
annualIncome          0
verificationStatus    0
issueDate             0
isDefault             0
purpose               0
postCode              0
regionCode            0
dti                   0
delinquency_2years    0
ficoRangeLow          0
ficoRangeHigh         0
openAcc               0
pubRec                0
pubRecBankruptcies    0
revolBal              0
revolUtil             0
totalAcc              0
initialListStatus     0
applicationType       0
earliesCreditLine     0
title                 0
policyCode            0
n0                    0
n1                    0
n2                    0
n3                    0
n4                    0
n5                    0
n6                    0
n7                    0
n8                    0
n9                    0
n10                   0
n11                   0
n12                   0
n13                   0
n14                   0
endDate               0
avg_GDP               0
avg_UNRATE            0
avg_CPIAUCSL          0
num_subGrade          0
num_grade             0
dtype: int64

In [42]:
data.shape

(686195, 52)

In [44]:
# drop irrelavant columns 
drop_columns = [col for col in data.columns if (col.startswith('n') and col[1:].isdigit()) or col in ['subGrade', 'grade']]

model_data = data.drop(drop_columns, axis = 1)

model_data

,loanAmnt,term,interestRate,installment,employmentTitle,employmentLength,homeOwnership,annualIncome,verificationStatus,issueDate,...,applicationType,earliesCreditLine,title,policyCode,endDate,avg_GDP,avg_UNRATE,avg_CPIAUCSL,num_subGrade,num_grade
id,,,,,,,,,,,,,,,,,,,,,
0,35000.0,5,19.52,917.97,320.0,2.0,2,110000.0,2,2014-07-01,...,0,Aug-2001,1.0,1.0,2019-07-01,19510.161857,4.638095,244.072190,2.5,2
2,12000.0,5,16.99,298.17,31698.0,8.0,0,74000.0,2,2015-10-01,...,0,May-2006,0.0,1.0,2020-10-01,19923.215667,5.152381,249.167714,3.6,3
3,11000.0,3,7.26,340.96,46854.0,10.0,1,118000.0,1,2015-08-01,...,0,May-1999,4.0,1.0,2018-08-01,19531.501000,4.500000,243.766583,6.7,6
5,11000.0,3,7.99,344.65,51727.0,7.0,0,39000.0,2,2017-04-01,...,0,Jul-1998,10.0,1.0,2020-04-01,20176.490615,4.761538,251.855462,6.8,6
6,2050.0,3,7.69,63.95,180083.0,9.0,0,35000.0,0,2014-10-01,...,0,Oct-2006,0.0,1.0,2017-10-01,19131.816769,4.938462,240.102462,6.7,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,25000.0,3,14.49,860.41,2659.0,7.0,1,72000.0,0,2016-07-01,...,0,Aug-2011,0.0,1.0,2019-07-01,19964.887692,4.176923,248.246769,4.7,4
799996,17000.0,3,7.90,531.94,29205.0,10.0,0,99000.0,2,2013-04-01,...,0,May-1989,33369.0,1.0,2016-04-01,18453.539385,6.000000,236.033077,6.7,6
799997,6000.0,3,13.33,203.12,2582.0,10.0,1,65000.0,2,2015-10-01,...,0,Jul-2002,0.0,1.0,2018-10-01,19590.991231,4.446154,244.459308,4.6,4
799998,19200.0,3,6.92,592.14,151.0,10.0,0,96000.0,2,2015-02-01,...,0,Jan-1994,4.0,1.0,2018-02-01,19299.253583,4.733333,241.501167,6.7,6
799999,9000.0,3,11.06,294.91,13.0,5.0,0,120000.0,0,2018-08-01,...,0,Feb-2002,4.0,1.0,2021-08-01,20649.390417,6.008333,259.033917,5.6,5

In [47]:
model_data.to_csv('model_data.csv')